body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

#blue-top {
    background-color: black;
    padding: 20px 0;
    color: white;
}

#blue-top a {
    color: white;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#date-time {
    float: right;
}

#logo {
    position: absolute;
    top: 40px;
}

#town {
    position: absolute;
    top: 50px;
    left: 180px;
}

#date {
    position: absolute;
    top: 50px;
    left: 300px;
}

#cloud {
    position: absolute;
    top: 50px;
    left: 550px;
}

#temperature {
    position: absolute;
    top: 50px;
    left: 590px;
}

#input-text {
    position: absolute;
    top: 50px;
    left: 680px;
    width: 280px;
}

.menu {
    position: relative;
    top: 115px;
    padding: 0 8px;
    display: inline-block;
}

.menu a {
    color: black;
    text-decoration: none;
}