body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

#blue-top {
    background-color: black;
    padding: 20px 0;
    color: white;
}

#blue-top a {
    color: white;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 115px;;
}

#date-time {
    float: right;
}

#logo {
    position: absolute;
    top: 40px;
}

#town {
    position: absolute;
    top: 50px;
    left: 180px;
}

#date {
    position: absolute;
    top: 50px;
    left: 300px;
}

#cloud {
    position: absolute;
    top: 50px;
    left: 550px;
}

#temperature {
    position: absolute;
    top: 50px;
    left: 590px;
}

#input-text {
    position: absolute;
    top: 50px;
    left: 680px;
    width: 260px;
    border: 0px;
    background-color: rgb(196, 212, 212);
    border-radius: 10px;
    padding: 10px;
}

nav {
    height: 70px;
}

nav a {
    color: black;
    text-decoration: none;
}

#left {
    background-color: red;
    width: 250px;
    margin-right: 20px;
    float: left;
}

#center {
    background-color: green;
    margin-right: 20px;
    width: 420px;
    float: left;
}

aside {
    width: 250px;
    float: right;
}

aside img {
    margin-bottom: 20px;
}

main {
    overflow-y: hidden;
}

#special-news {
    margin-top: 20px;
}

.table {
    display: table;
    border-collapse: collapse;
    margin: 10px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
}