body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 20px;
    padding: 27px 18px;
    margin: 0 0 20px 0; 
    border-bottom: 1px solid #e5e5e5;
}

#blue-top {
    background-color: black;
    padding: 20px 0;
    color: white;
    font-size: 16px;
}

#blue-top a {
    color: white;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 115px;;
}

#date-time {
    float: right;
}

#logo {
    position: absolute;
    top: 40px;
}

#town {
    position: absolute;
    top: 50px;
    left: 180px;
}

#date {
    position: absolute;
    top: 50px;
    left: 300px;
}

#cloud {
    position: absolute;
    top: 50px;
    left: 550px;
}

#temperature {
    position: absolute;
    top: 50px;
    left: 590px;
}

#input-text {
    position: absolute;
    top: 50px;
    left: 680px;
    width: 260px;
    border: 0px;
    background-color: #f3f3f3;
    background-image: url('img/lupa.png');
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    padding: 10px;
}

nav {
    height: 70px;
}

nav a {
    color: black;
    text-decoration: none;
}

#left {
    background-color: white;
    width: 250px;
    margin-right: 20px;
    float: left;
}

#center {
    /* background-color: green; */
    margin-right: 20px;
    width: 420px;
    float: left;
}

#center-main-news {
    background-color: black;
    background-image: url("img/main-news-background.png");
    height: 315px;
    padding-left: 20px;
    padding-right: 80px;
    margin-bottom: 20px;
    color: white;
}

#center-main-news-group {
    padding-top: 110px;
    font-size: 12px;
    margin-bottom: 20px;
}

#center-main-news-group a {
    text-decoration: none;
    color: white;
}

#center-main-news-group a:hover {
    text-decoration: underline;
}

#center-main-news-heading {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

#center-main-news-props {
    font-size: 12px;
    position: relative;
}

aside {
    width: 250px;
    float: right;
}

aside img {
    margin-bottom: 20px;
}

main {
    padding-top: 20px;
    overflow-y: hidden;
    background-color: #f9f9f9;
    background-image: url('img/central-bg-top.png');
    background-repeat: repeat-x;
}
.news {
    padding: 0 20px;
    margin-bottom: 27px;
    font-size: 14px;
}
.news-text {
    margin-bottom: 20px;
}

.news-props {
    font-size: 12px;
    position: relative;
    
}
.news-props a {
    color: #919191;
    text-decoration: none;
}

.news-props a:hover {
    text-decoration: underline;
}

.news-time {
    position: absolute;
    top: 0;
    left: 100px;
    padding-left: 15px;
    background-image: url('img/icon-time.png');
    background-repeat: no-repeat;
    background-position: left;
}

.news-comments-count {
    position: absolute;
    top: 0;
    left: 160px;
    padding-left: 15px;
    background-image: url('img/icon-comments.png');
    background-repeat: no-repeat;
    background-position: left;
}

#special-news {
    margin-top: 20px;
}

.table {
    display: table;
    border-collapse: collapse;
    margin: 10px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
}